.addTaskContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addTask {
  background-color: var(--pure-white);
  color: var(--black);
  width: 100vw;
  max-width: 400px;
  border-radius: var(--radius);

  text-align: center;
  padding-bottom: 2rem;
}

.addTask select {
  border: 1px solid var(--black);
}

.addTaskHeader {
  background-color: var(--soft-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5px;
    padding-right: 5px; */
  padding: 1rem;
}

input {
  background-color: var(--pure-white);
  border: 1px solid var(--black);
}

.submitButton {
  width: 100px;
  height: 30px;
  background-color: var(--softest-main);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.taskName,
.comment,
.deadline,
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
