.todoList .todoCard {
  background-color: var(--pure-white);
  /* border: 1px solid var(--softest-main); */
  min-width: 350px;
  /* flex: 1; */
  /* box-shadow: 10px 1px 2px var(--softest-main); */
  /* border-right: 2px solid var(--softest-main);
  border-bottom: 2px solid var(--softest-main); */
  box-shadow: 0px 0px 1px var(--dark-purple);
}

.todoCardHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--soft-main);
  padding: 0.5rem 1rem;
}

.todoCardHeader svg {
  height: 1.5rem;
  width: auto;
  fill: var(--dark-purple);
}

.todoCardName {
  font-weight: 500;
}

.todoCardIsDone {
  margin-left: auto;
  cursor: pointer;
}

.todoCardComment {
  padding: 0.5rem 1rem;
}

.todoCardInfo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.todoCardDateInfo span:first-child {
  margin-right: 0.5rem;
}

.todoCardRemove {
  display: flex;
  cursor: pointer;
}
.todoCardRemove svg {
  height: 1.5rem;
}
.passed-deadline {
  color: #d1423f;
}
.deadline-not-passed {
  color: green;
}
@media screen and (max-width: 796px) {
  .todoCard {
    flex: 1;
  }
}
@media screen and (min-width: 796px) {
  .taskList .todoCard {
    max-width: calc(50% - 1rem);
  }

  /* .todoCard:first-of-type {
    max-width: calc(50% - 1rem);
  } */
}

@media screen and (min-width: 1178px) {
  .taskList .todoCard {
    max-width: calc(33% - 1rem);
  }

  /* .todoCard:first-of-type {
    max-width: calc(33% - 1rem);
  } */
}
