.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header h1 {
  margin: 0;
  font-size: 38px;
}

/* .header button {
  margin-left: 1rem;
} */
.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.glyphicon {
  position: 0;
}

.buttons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 721px) {
  .header {
    justify-content: center;
    gap: 1rem;
  }
  .header .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .buttons button {
    justify-content: center;
    flex-basis: 100%;
  }
}
