:root {
  --off-white: #f5f5f5;
  --pure-white: #ffff;
  --main: #f1c40f;
  /* --black: #110e01; */
  --black: #20231d;
  --soft-black: #312803;
  /* --soft-main: #fcf3d0; */
  --soft-main: #86b1ba;
  --softest-main: #927608;
  --light-green: #fcf3d0;
  /* --light-green: #a1b18f; */
  --dark-purple: #2a2935;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

html {
  font-size: clamp(16px, 1vw, 32px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--off-white);
  line-height: 1.5em;
  color: var(--black);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.text-small {
  font-size: 0.667rem;
}

.text-medium {
  font-size: 1.5rem;
}

.text-big {
  font-size: 2.25rem;
}

button {
  background-color: var(--soft-main);
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 1px var(--dark-purple);
  min-width: 140px;
}
